
body.overlay{
	overflow:hidden;
	background: #fff;
}
.top-booking-outer {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3001;
    background: rgba(255,255,255,0.95);
	overflow-y: scroll;
}

.top-booking-close {
    display: block;
    width: 20px;
    height: 20px;
    text-indent: -9999px;
    position: fixed;
    right: 30px;
    top: 10px;
    cursor: pointer;
    background: url(../images/appointment/doctor-bio-close-hover.png) transparent no-repeat center;
    background-size: contain;
}

.top-booking-wrp {
    display: block;
    width: 420px;
    height: auto;
    background: #fff;
    border: 1px solid #012f8f;
    margin: 60px auto;
    z-index: 200;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}
.top-booking-inner {
    padding: 10px 20px 20px;
    position: relative;
}
.top-booking-locations {
    width: 100%;
    border-bottom: 1px solid #012f8f;
    height: auto;
    margin-bottom: 10px;
    padding: 10px 0 20px;
}
.clear {
    width: 100%;
    height: 0;
    clear: both;
}
.top-booking-addresses {
    width: 100%;
    margin-bottom: 15px;
    line-height: 26px;
    -webkit-font-smoothing: antialiased;
    color: #333;
}

.top-booking-outer strong {
    font-weight: 700;
	color:#444;
	text-transform: uppercase;
}
.spacer20 {
    width: 100%;
    height: 20px;
    clear: both;
}
ul.booking-choose {
    font-size: 0;
	padding:0;
	margin:0;
}
ul.booking-choose li {
    display: inline-block;
    font-size: 16px;
    margin-right: 1%;
    width: 32%;
    position: relative;
    -webkit-transition: all 200ms ease 0;
    -moz-transition: all 200ms ease 0;
    -o-transition: all 200ms ease 0;
    transition: all 200ms ease 0;
}
ul.booking-choose i {
    display: none;
    position: absolute;
    z-index: 200;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #ff8c00;
}
ul.booking-choose li.choose-this i {
    display: block;
}

ul.booking-choose li img {
    width: 100%;
    height: auto;
    cursor: pointer;
    position: relative;
    z-index: 0;
    -webkit-transition: all 200ms ease 0;
    -moz-transition: all 200ms ease 0;
    -o-transition: all 200ms ease 0;
    transition: all 200ms ease 0;
}
ul.booking-choose li img:hover {
    transform: scale(1.05);
}
a, img {
    -webkit-transition: all 200ms ease 0;
    -moz-transition: all 200ms ease 0;
    -o-transition: all 200ms ease 0;
    transition: all 200ms ease 0;
}
 
.timing-tabs {
    width: 100%;
}
a.timing-tab-first {
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

a.timing-tab {
    display: block;
    height: 38px;
    line-height: 38px;
    font-size: 15px;
    color: #012f8f;
    border: 1px solid #012f8f;
    float: left;
    width: 188px;
    text-align: center;
    background: #fff;
    -webkit-font-smoothing: antialiased;
}
a.timing-tab:hover {
	font-size: 15px;
    color: #012f8f;
}
a.timing-tab-first {
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
a.timing-tab-active {
    color: #fff;
    background: #012f8f;
}
a.timing-tab-active:hover {
    color: #fff;
}

.timing-panels {
    margin-top: 10px;
}
#timing-panel-date-1 {
    display: block;
}
.timing-panel-date {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    font-size: 17px;
    -webkit-font-smoothing: antialiased;
    display: none;
	color:#444
}
#timing-panel-date-2 {
    margin-bottom: 5px;
}
.timing-panel-date {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    font-size: 17px;
    -webkit-font-smoothing: antialiased;
    display: none;
}
.timing-date-edit {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    color: #012f8f;
    text-decoration: underline;
    display: none;
}

#timing-panel-1 {
    display: block;
}
.timing-panel {
    display: none;
    width: 100%;
    border: 1px solid #012f8f;
    padding: 20px 20px 5px;
    position: relative;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
#timing-panel-1 .timing-panel-arrow {
    left: 48.5%;
}
.timing-panel-arrow {
    width: 15px;
    height: 6px;
    position: absolute;
    top: -6px;
    background: url(../images/appointment/top-form-arrow.png) transparent no-repeat center;
    background-size: contain;
}

ul.timing-list {
    text-align: center;
    font-size: 0;
	padding:0;
	margin:0
}

ul.timing-list li.timing-list-active {
    background: #012f8f;
    color: #fff;
}
ul.timing-list li {
    display: inline-block;
    text-align: center;
    width: 60px;
    height: 30px;
    line-height: 30px;
    color: #333;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    background: #fff;
    margin: 0 3px 15px;
    cursor: pointer;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}
 

.booking-info {
    margin-top: 20px;
}
.booking-info-inp {
    display: block;
    border: none;
    background: #fff;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    outline: none;
    width: 100%;
    margin-bottom: 10px;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    color: #333;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    -webkit-transition: all 200ms ease 0;
    -moz-transition: all 200ms ease 0;
    -o-transition: all 200ms ease 0;
    transition: all 200ms ease 0;
}

.booking-info-txt {
    display: block;
    border: none;
    background: #fff;
    height: 120px;
    padding: 15px 20px;
    outline: none;
    width: 100%;
    margin-bottom: 10px;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    color: #333;
    resize: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    -webkit-transition: all 200ms ease 0;
    -moz-transition: all 200ms ease 0;
    -o-transition: all 200ms ease 0;
    transition: all 200ms ease 0;
}
.booking-info-btn {
    display: block;
    outline: none;
	width:100%;
	text-align:center;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background: url(../images/appointment/contact-btn.png) #012f8f no-repeat 112px;
    background-size: 18px;
    cursor: pointer;
    border: none;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    padding-right: 55px;
    padding-left: 30px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 200ms ease 0;
    -moz-transition: all 200ms ease 0;
    -o-transition: all 200ms ease 0;
    transition: all 200ms ease 0;
}

#timing-date .ui-datepicker {
    margin: 0 auto 15px;
    border: none !important;
    width: 98% !important;
}

#timing-date .ui-datepicker-header{
    background:none;
    font-family:'UTMAvoBold',sans-serif;
    -webkit-font-smoothing:antialiased;
    color:#333;
    border:none;
    margin-bottom:10px;
    font-size:15px
}
#timing-date .ui-datepicker th{
    font-family:'UTMAvoBold',sans-serif;
    -webkit-font-smoothing:antialiased;
    font-size:15px;
    color:#012f8f
}
#timing-date .ui-datepicker td a{
    font-family:'UTMAvo',sans-serif;
    -webkit-font-smoothing:antialiased;
    font-size:15px;
    color:#333;
    text-align:center;
    padding:.6em!important
}
#timing-date .ui-datepicker td span, .ui-datepicker td a {
    display: block;
    padding: .6em!important;
    text-align: center;
    text-decoration: none;
}