input[type="checkbox"], input[type="radio"] {
	-webkit-appearance: menulist-button;
}
input[type="text"],input[type="email"] {
	-webkit-appearance: menulist-button;

    /* padding-top: 0; */
    /* padding-bottom: 0; */
    height: var(--form_input_height);
    /* background-color: var(--form_bg_color); */
    /* font-size: var(--form_text_size,13px); */
    /* color: var(--form_text_color,#747474); */
    /* border-width: var(--form_border_width-top) var(--form_border_width-right) var(--form_border_width-bottom) var(--form_border_width-left); */
    /* border-color: var(--form_border_color); */
    border-radius: 12px;
    /* float: none!important; */
    width: 100%!important;
    /* box-sizing: border-box; */
    border: 1px solid #d2d2d2;
    font-size: 13px;
    color: #747474;
    padding: 8px 15px !important;
    /* float: none; */
    /* width: 100%; */
    /* margin-right: 0; */
    /* box-sizing: border-box;
}